<header class="header">
  <button class="button" [ngStyle]="{'background-color': buttonColor[0]}" [routerLink]="['/profile']">Profiel</button>
  <button class="button" [ngStyle]="{'background-color': buttonColor[1]}" [routerLink]="['/notes']">Berichten</button>
  <button class="button" [ngStyle]="{'background-color': buttonColor[2]}" [routerLink]="['/newnote']">Nieuw bericht</button>
  <button class="button" [ngStyle]="{'background-color': buttonColor[3]}" *ngIf="user.role === 'Admin'" [routerLink]="['/admin']">Admin</button>
  <button class="button" (click)="onLogoutUser()">Uitloggen</button>
</header>
