<h1 class="headtext">Laat hier je bericht achter!</h1>
<form novalidate [formGroup]="noteForm" (ngSubmit)="submitNote()">
  <table class="inputtable">
    <tr>
      <td class="inputlabel">
        <label for="title">Onderwerp:</label>
      </td>
      <td>
        <input type="text" id="title" name="title" formControlName="title">
      </td>
    </tr>
    <tr>
      <td class="inputlabel">
        <label for="content">Bericht:</label>
      </td>
      <td>
        <textarea name="content" rows="10" cols="max" formControlName="content"></textarea>
      </td>
    </tr>
  </table>
  <button class="button submitbutton" type="submit">Bericht posten</button>
</form>
