<h1>Account aanmaken</h1>
<form novalidate [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
  <table>
    <tr>
      <td>
        <label for="text">Gebruikersnaam:</label>
      </td>
      <td>
        <input type="text" id="username" name="username" formControlName="username">
      </td>
    </tr>
    <tr>
      <td>
        <label for="text">E-mailadres:</label>
      </td>
      <td>
        <input type="email" id="email" name="email" formControlName="email">
      </td>
    </tr>
    <tr>
      <td>
        <label for="text">Wachtwoord:</label>
      </td>
      <td>
        <input type="password" id="password" name="password" formControlName="password">
      </td>
    </tr>
  </table>
  <button type="submit">Account aanmaken</button>
</form>