<h1 class="headtext">Account aanmaken</h1>
<form novalidate [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
  <table>
    <tr>
      <td>
        <label class="inputlabel" for="text">Gebruikersnaam:</label>
      </td>
      <td>
        <input class="inputtext" type="text" id="username" name="username" formControlName="username">
      </td>
    </tr>
    <tr>
      <td>
        <label class="inputlabel" for="text">E-mailadres:</label>
      </td>
      <td>
        <input class="inputtext" type="email" id="email" name="email" formControlName="email">
      </td>
    </tr>
    <tr>
      <td>
        <label class="inputlabel" for="text">Wachtwoord:</label>
      </td>
      <td>
        <input class="inputtext" type="password" id="password" name="password" formControlName="password">
      </td>
    </tr>
  </table>
  <button class="button submitbutton" type="submit">Account aanmaken</button>
</form>
