<button (click)="toNotesOverview()">Alle berichten</button>
<h1>Bericht bewerken</h1>
<form novalidate [formGroup]="noteForm" (ngSubmit)="submitNote()">
  <table>
    <tr>
      <td>
        <label for="title">Onderwerp</label>
      </td>
      <td>
        <input type="text" id="title" name="title" formControlName="title">
      </td>
    </tr>
    <tr>
      <td>
        <label for="content">Inhoud</label>
      </td>
      <td>
        <textarea id="content" name="content" rows="10" cols="max" formControlName="content"></textarea>
      </td>
    </tr>
  </table>
  <button type="submit">Bericht opslaan</button>
</form>